<div>
  <h2 *ngIf="!employee || employee.name === undefined || employee.name === '' ">Add record</h2>
  <h2 *ngIf="employee && employee.name !== undefined && employee.name !== '' ">Update record (NAME: )</h2>
  <mat-card>
    <mat-card-content>
    <form>
      <mat-form-field>
      
        <label for="name-input">Name:</label>
        <input type="text" name="name" id="name" [(ngModel)]="employee.name" class="form-control" />
     
    </mat-form-field>
    <mat-form-field>
      
        <label for="position-input">Position:</label>
        <input type="text" name="position" id="position" [(ngModel)]="employee.position" class="form-control" />
     
    </mat-form-field>
    <mat-card-actions>
      <button mat-button color="primary" type="button" (click)="addOrUpdateEmployeeRecord($event);">Save</button>
    </mat-card-actions>
    </form>
  </mat-card-content>
  </mat-card>

</div>
